body {
    font-family: arial;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

nav {
    background: #e05050;

    margin-top: 0px;

    border-radius: 10px 10px 5px 5px;
    padding: 20px 10px;
}
nav ul {
    max-width: 960px;
    margin: 0;
    padding: 0;
}
nav li {
    list-style-type: none;
    display: inline-block;
}
nav a {
    color: aqua;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    display: block;
}
a:hover {
    color: blue;
}
main,
header {
    max-width: 960px;
    margin: 30px auto;
    padding: 0 10px;
    color: rgb(20, 20, 19);
}

.google-btn {
    background-color: #aa0808;
    color: antiquewhite;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}
.content {
    display: flex;
    flex-direction: column;
    width: 50%;

    margin: 20px auto;
    background: rgb(199, 191, 191);
    text-align: center;

    box-shadow: rgba(71, 68, 68, 0.486) 0 0px 50px;
    border-radius: 10px;
}
footer {
    background-color: rgb(243, 236, 236);
    text-align: center;
    height: 40px;
    margin-top: 20px;
}
